@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Bangers');

#body  {
	margin: 0 0 0 0;
}

p {
	font-family:'Roboto Condensed', sans-serif;
	text-align:center;
	right:10%;
	width:80%;
	float:center;
}

h1 {
	font-family:'Bangers', cursive;
	color:1654EF;
	text-align:center;
	font-size:80px;
}

#logo img {
	width:30%;
}

#contact_information {
	text-align: right;
	font-family:'Roboto Condensed', sans-serif;
}

#main_text   img {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
	
}
	
.navbar {
	width: 100%;
	position: relative;
	background-color:FFAA00;
	font-family:'Roboto Condensed', sans-serif;
	text-decoration:none;
	color: white;
}

.menu {
	width:25%;
	position: relative;
	float:left;
	background-color:FFAA00;
	text-align:center;
}

/* Dropdown Button */
.dropbtn {
    background-color: FFAA00;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
	font-family:'Roboto Condensed', sans-serif;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
	text-align:center;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: FFAA00;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: FFD300}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: FFD300;
}

/* unvisited link */
a:link {
    color: white;
	text-decoration:none;
}

/* visited link */
a:visited {
    color: 1654EF;
	text-decoration:none;
}

/* mouse over link */
a:hover {
    color: white;
	text-decoration:none;
}
	